<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Main Page]</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#footers").load("/footer.html");
        });
    </script>
    <style>
    </style>
</head>
<header>
    <div class="topmenu upper">
		<div class="home"><a href="/">logo</a></div>
		<span th:if="${session.loginMember}">
			<div class="member"><a href="/logout">로그아웃</a></div>
		</span>
		<span th:unless="${session.loginMember}">
			<div class="member"><a href="/members/join">회원가입</a></div>
			<div class="member"><a href="/members/login">로그인</a></div>
		</span>
    </div>
    <nav class="topmenu">
        <ul>
          <li><a href="/introduce">소개</a></li>
          <li><a href="/notification">공지사항</a></li>
          <li><a href="/subject">과목</a>
            <ul class="submenu">
              <li><a href="/subject?subject_name='JAVA'">JAVA</a></li>
              <li><a href="">HTML</a></li>
              <li><a href="#">DATABASE</a></li>
              <li><a href="#">PYTHON</a></li>
            </ul>
          </li>
          <li><a href="#">고객센터</a>
            <ul class="submenu">
              <li><a href="#">자주 묻는 질문</a></li>
              <li><a href="#">문의 게시판</a></li>
              <li><a href="#">이용약관</a></li>
            </ul>
          </li>
          <li><a href="#">마이페이지</a>
            <ul class="submenu">
              <li><a href="#">내정보</a></li>
              <li><a href="#">내강의</a></li>
              <li th:if="${session.loginMember}"><a href="/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </nav>
</header>

<h1>[ 공지사항 ]</h1>
<form method="get" action="notification">
    <input type="text" name="title_part">
    <input type="submit" value="제목으로 검색">
</form>
	<div th:text="|currentPage: ${navi.currentPage}|"></div>
	<div th:text="|pagePerGroup: ${navi.pagePerGroup}|"></div>

<table>
	<tr>
		<th>제목</th>
		<th>작성자</th>
	</tr>
	<tr th:each="notification : ${notifications}">
		<td><a th:text="${notification.notification_title}" th:href="@{/readnotice/{notification_no}(notification_no=${notification.notification_no})}"></a></td>
		<td th:text="${notification.writer}"></td>
	</tr>
</table>
<div>
	<a th:href="@{notification(page=${navi.currentPage - navi.pagePerGroup}, title_part=${title_part})}"><<</a>&nbsp;&nbsp;
	<a th:href="@{notification(page=${navi.currentPage - 1}, title_part=${title_part})}"><</a>&nbsp;&nbsp;
	<th:block th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
		<a th:href="@{notification(page=${counter}, title_part=${title_part})}" th:text="${counter}"></a>
	</th:block>&nbsp;&nbsp;
	<a th:href="@{notification(page=${navi.currentPage + 1}, title_part=${title_part})}">></a>&nbsp;&nbsp;
	<a th:href="@{notification(page=${navi.currentPage + navi.pagePerGroup}, title_part=${title_part})}">>></a>&nbsp;&nbsp;
</div>

<footer id="footers">여기에 footer 위치</footer>
</body>
</html>